<?xml version="1.0"?>
<launch>	
	<arg name="model" default="$(find sample_robot_description)/urdf/robot/robot.urdf.xacro"/>

	<arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
	<arg name="debug" default="false"/>

	<include file="$(find gazebo_ros)/launch/willowgarage_world.launch" />

	<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)"/>

	<include file="$(find sample_robot_control)/launch/sample_robot_control.launch"/>

	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
		args="-urdf -x -9 -y -17 -z 0.88 -Y 1.57 -model sample_robot -param robot_description"/>

	<include file="$(find sample_robot_2d_navigation)/launch/move_base.launch" />

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find sample_robot_bringup)/config/sample_robot.rviz"/>
</launch>
